.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../assets/mapa.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.textBox{
  width: 30%;
  background-color: #5c1014;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textBox p{
  color: #FBECA3;
  font-size: 2rem;
  padding: 0 4rem;
  text-align: justify;
}

.textBox h1{
  color: #FBECA3;
  font-size: 3rem;
  padding: 0 4rem;
  text-align: justify;
}